# Database Configuration
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/wallet"

# Generate with: openssl rand -hex 32
JWT_SECRET="yoyoyoyo"

# Server Configuration
PORT=3000
NODE_ENV="development"

# CORS Configuration
FRONTEND_URL="http://localhost:5173"
